/* ------total div section----- */
#container {
    width: 80%;
    margin:auto;
    font-family: sans-serif;
    margin-bottom:100px;
    margin-top:70px;
}
 /* ---------topbox section-------- */
 #logo-div{
    font-family:sans-serif;
    margin-top:50px;
    margin-bottom: 50px;;
}
#logoimg{
    height:80px;
    width:120px;
}
#moneyback > p{
    color:gray;
    font-size:20px;
    line-height: 25px;
}
#middlebox{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    margin:auto;
    text-align:left;
}
#middlefirst{
    padding-left: 5px;;
}
#tickmarkdiv{
    display:flex;
    align-items:center;
    font-family: sans-serif;
    justify-content:space-between;
    padding-right:80px;
}
#tickmarkimg{
    height:70px;
}
#firstafter>div>p{
    color:rgb(95, 84, 84);
    font-size:15px;
    
}
#savingsdiv{
   font-family:sans-serif;
   margin-top: 50px;
}
#savingsdiv>button{
    padding:8px 15px;
    margin-right:9px;
    font-size: 18px;
    border-radius: 3px;
    margin-bottom: 30px;
}
#savingscost{
    color:rgb(40, 233, 40);
    font-size:40px;
   
}
  #middlesecond{
   
    font-family:sans-serif;
} 
/* ------------select your plan section----- */
#bought{
    font-size: 17px;
    color:rgb(6, 107, 6);
    margin-bottom: 50px;
}
.months{
    display:flex;
    justify-content:space-between;
    align-items:center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    padding:20px;
    margin-top: 30px;
}
#membership{
    color:red;
    font-size:21px;
    margin-top:60px;
}
#membership>a{
    text-decoration:none;
    color:red;
    font-size: 30px;
}
.removeaddbtn{
    color:rgb(108, 6, 108);
    font-size: 19px;
}

.frontarrow{
height:25px;
}
/* ------------plus in numbers section-------- */
#middlethree{
margin-bottom:50px;
}
#middlethree>div>h2{
font-size:30px;
margin-bottom:40px;
}
#qualities{
display:grid;
grid-template-columns: repeat(4, 1fr);
width:95%;
gap:20px;
font-family: sans-serif;
}
.qualityimgs{
height:45px;
}

/* ----------FAQ'section---------- */
.faq-subdiv{
padding-left:-30px;
margin-bottom: 60px;
width:50%;
}
.dropdown{
display:flex;
margin-bottom: 15px;
align-items:center;
justify-content: space-between;

}
.dropdown-menu{
width:100%;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
color:rgb(89, 86, 86);
font-size: 20px;
padding:20px;
}
/* ----------------ratings section------------- */

#reviews-main{
width:50%;
font-family: sans-serif;
margin-top: 130px;
}
.reviews-sub{
display:flex;
align-items:center;
justify-content:space-between;
margin-top:40px;
align-items:center;
box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;

}
#reviews-data{
display:flex;
align-items:center;
margin-top:-50px;
}
.reviewimgs{
height:80px;
}
.reviewlogo{
height:40px;
width:40px;
display:flex;
align-items:center;
justify-content:center;

}
.reviews-sub+p{
color:rgb(78, 76, 76);
font-size:18px;
}
/* -------proceed button section------- */
#proceedmain{
    background-color: white;
    position:fixed;
    bottom:20px;
    width:40%;
    margin-left: 70px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
#proceedmain>div>h3{
    color:green;
    text-align:center;
    margin-bottom: 30px;
}
#proceedbtn{
color:white;
background-color:rgb(153, 70, 226);
border:none;
border-radius:10px;
padding:20px 60px;
font-size: 30px;
text-align:center;
color:black;
}
#proceed{
    display:flex;
    justify-content:space-between;
   
} 
#provalue{
    font-size:25px;
    margin-right: 20px;
}
#strikevalue{
    font-size:20px;
    margin-right: 20px;
    color:gray;
}
#backarrow{
    height:40px;
}
